<div class="w-full mb-5 md:mb-0 md:w-1/3 md:mx-4">
	<div class="h-full bg-secondary">
		{% set optimizedImage = relatedEntry.image|first.optimizedOverview %}
		<picture>
			{% if craft.imageOptimize.serverSupportsWebP() and relatedEntry.image|first.extension != 'svg' %}
				<source data-srcset="{{ optimizedImage.srcsetWebP() }}" sizes="(max-width: 479px) 99vw, (min-width: 480px) and (max-width: 659px) 431px, (min-width: 660px) and (max-width: 819px) 214px, (min-width: 820px) and (max-width: 979px) 252px, (min-width: 980px) and (max-width: 1199px) 327px, (min-width: 1200px) 395px" type="image/webp"/>
			{% endif %}
			<img src="{{ optimizedImage.placeholderBox() }}" data-srcset="{{ optimizedImage.srcset() }}" sizes="(max-width: 479px) 94vw, (min-width: 480px) and (max-width: 659px) 431px, (min-width: 660px) and (max-width: 819px) 214px, (min-width: 820px) and (max-width: 979px) 252px, (min-width: 980px) and (max-width: 1199px) 327px, (min-width: 1200px) 395px" alt="{{ relatedEntry.image|first.imageCaption ?? relatedEntry.image|first.title ?? entry.title }}" class="lazyload"/>
		</picture>
		<div class="p-4">
			<h3>{{ relatedEntry.title }}</h3>
			<div class="mt-5 mb-3">{{ relatedEntry.intro }}</div>
			<a class="link link-primary link--ext" href="{{ relatedEntry.url }}">{{ 'Wandeling bekijken'|t }}</a>
		</div>
	</div>
</div>
