{% extends "_layout" %}

{% block content %}

	<div class="section section--default">
		<div class="container">
			<div class="w-full md:w-3/4">
				{% include '_snippet/_content/_pageTitle' %}
				{% include '_snippet/_content/_intro' %}
			</div>
		</div>
	</div>

	<div class="section section--default">
		<div class="container">
			{% set monument = craft.entries.section('monumentDetail').all() %}
			<a class="mr-5 font-bold uppercase pb-5 text-primary border-b-4 border-primary {% if craft.app.request.getQueryParam('monument') == 1 %}text-tertiair border-none{% endif %}" href="{{ entry.url }}">{{ 'Alfabetisch weergeven'|t }}</a>
			<a class="font-bold uppercase {% if craft.app.request.getQueryParam('monument') == 1 %}pb-5 text-primary border-b-4 border-primary{% endif %}" href="/monument?monument=1">{{ 'Weergeven op kaart'|t }}</a>
			<div class="mt-5 border-b-2 border-gray-500"></div>
		</div>
	</div>

	<div class="section section--default">
		<div class="container">
			<div class="md:-mx-4 md:flex md:flex-wrap">
				{% if craft.app.request.getQueryParam('monument') == 1 %}

					{% set mapsThumb = {
						mode: 'crop',
						width: 600,
						height: 250,
						quality: 80,
						position: 'center'
					} %}

					{% set monumentsArray = [] %}
					{% for monu in monument %}
						{% set monumentsArray = monumentsArray|merge([{
							lat: monu.adres.latitude,
							lng: monu.adres.longitude,
							address: [(monu.adres.street ~ ', ' ~ monu.adres.postalCode ~ ' ' ~ monu.adres.city)],
							image: monu.image|first.getUrl(mapsThumb),
							title: monu.title,
							url: monu.getUrl(),
							marker: 'marker.png',
						},
						]) %}
					{% endfor %}
					{% if monument|length %}
						<div class="aspect-ratio-4/3 js-google-map" id="map-canvas" data-locations="{{ monumentsArray|json_encode }}"></div>
						<script type="text/template" id="template-marker">
							<img src="%s" width="300" class="lazyload"/>
							<div class="p-6">
								<h3 class="mb-1">%s</h3>
								<div class="mb-4 text-gray-600">%s</div>
								<a href="%s" class="text-base link link--ext">{{ 'Monument bekijken'|t }}</a>
							</div>
						</script>
					{% endif %}
				{% else %}
					{% for monu in monument|sort %}
						{% if monu.switchApp == 0 %}
							{% include '_snippet/_item/_monument' %}
						{% endif %}
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>

{% endblock %}
