{% set bgDefault = block.background == 'section--default' ? '' : '' %}
{% set bgPrimary = block.background == 'section--primary' ? 'bg-primary' : '' %}
{% set bgLight = block.background == 'section--light' ? 'bg-light' : '' %}

<div class="section section--default">
	<div class="container">
		<div class="{% if bgLight %}{{ bgLight }} py-10 px-10 {% endif %} {% if bgPrimary %}{{ bgPrimary }} py-10 px-10 {% endif %}">
			<div class="mb-5 text-xl font-bold uppercase {% if bgPrimary %}text-white{% endif %}">
				{{ block.titel }}
			</div>

			<div class="w-3/4 mb-5 {% if bgPrimary %}text-white{% endif %}">
				{{ block.intro }}
			</div>

			<div>
				<a class="{% if bgLight %}btn btn--primary{% endif %} {% if bgPrimary %}btn btn--ghost{% endif %}" href="{{ block.cta }}">{{ block.cta.getText() }}</a>
			</div>
		</div>
	</div>
</div>
